/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 .tab-title-text.active {
  //margin for delete button
  margin-right: 5px;
}

.tabContainer .editIcon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: flex-start;
  margin-right: 16px;
}

.editIcon.add {
  align-self: center;
}

.left {
  margin-right: 5px;
}

.left, .right {
  width: 15px;
  height: 15px;
  margin-bottom: 3px;
}

.editorIcon svg {
  fill: #000000;
}

