/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */


/* CARD GENERIC STYLES*/

.wp-block-lu-block-cards-parent {
  display: flex;
}

.wp-block-lu-block-cards-child {
	border: 1px solid #F1F1F1;
	border-radius: 4px;
	background-color: #F6F9FC;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	margin: 0 auto;
  height: auto;
  max-width: 250px;
  white-space: normal;
  
	.card_top {
		text-align: center;
		padding: 20px 10px 25px;
		background-color: #fff;
    border-radius: 4px;
    
		h3 {
			color: #2773CB;
			font-family: "PT Serif";
			font-size: 56px;
			line-height: .8em;
			margin-bottom: 12px;
    }
    
		sup {
			font-size: 24px;
		}
	}
	.card_bottom {
		text-align: center;
		padding: 20px 15px;
		border-radius: 0 0 5px 5px;
	}
}



/* UNIVERSAL BLOCK STYLES */
/* this should go somewhere universal for all blocks */

/* .wp-block-columns {
  display: flex;
  
  .wp-block-column {
    flex-grow: 1;
  }
} */