/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 .slider {
	display: block;
	overflow: hidden;
	max-width: 100%;
	width: 700px;
  margin: 0 auto;
  
	.slider_item {
		padding: 10px 20px;
		white-space: normal;
		display: inline-block;
		width: 100%;
		vertical-align: top;
  }
  
	&:not(.carousel) {
		.slider_item {
			padding: 10px 20px;
			white-space: normal;
			display: inline-block;
			width: 100%;
			vertical-align: top;
			height: 100%;
			min-height: 300px;
			display: flex !important;
			display: -webkit-flex;
			align-items: center;
			-webkit-align-items: center;
			justify-content: center;
			-webkit-justify-content: center;
		}
	}
}

.slider.carousel {
	width: 100% !important;
	max-width: 100% !important;
}

.slider_container {
	white-space: nowrap;
	&:after {
		content: '';
		clear: both;
		float: none;
		display: block;
	}
}

.slider_content {
	.row {
		align-items: center;
	}
}
.cardSlider {
	width: 100%;
	justify-content: center;
}

.carousel_item {
	&:last-of-type {
		.card {
			margin-right: 0;
		}
	}
}

@media (min-width: 768px) {
	.cardSlider {
		display: flex;
	}
}

@media (max-width: 767px) {
	.card {
		.cycle-slide {
			max-width: none;
		}
	}
	.cards_wrapper.cardSlider {
		overflow: visible !important;
	}
}
